button {
    width: 190px;
    height: 60px;
    display: block;
    margin: auto;
    margin-top: 50px;
    font-family: monospace;
    font-size: 1.3rem;
    cursor: pointer;
}

button:hover {
    box-shadow: 0px 0px 30px 2px grey;
    background-color:lightcyan;
}

#box {
    border: 5px double lightgrey;
    border-top: none;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap-reverse;
    min-height: 100px;
    background-color: azure;
}

.ball {
    width: 43px;
    height: 43px;
    border-radius: 50%;
}
